.header{
  height: 100px;
  background: #3F51B5;
  color: #fff;
}

.site-name,.options{
  line-height: 50px;
  height: 50px;
}
.site-name{
  font-size: 1.5em;
  line-height: 50px;
  border: 1px solid #fff;
  padding: 0 15px;
  margin-top: 19px;
  cursor: pointer;
}
.options{
  color:rgba(255,255,255,.7);
}
.options span{
  margin-right: 15px;
  margin-left: 7px;
  font-weight: bold;
  color:rgba(255,255,255,1);
}
.options button:hover{
  color:rgba(255,255,255,1);
}

.ml12 {
  font-weight: 100;
  letter-spacing: .5em;
}

.ml12 .letter {
  display: inline-block;
  line-height: 1em;
}
